@charset "UTF-8";
/* CSS Document */

.header
{
	background-color: #ccc;
	padding: 1em 2em;
	margin-bottom: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 10px;
    background-color: #dddddd;
}
.nav
{
	background-color: #ccc;
	padding: 1em 2em;
	margin-bottom: 1em;
}

.col1,.col2,.col3
{
	float: left;
	background-color: #eee;
	margin-bottom: 1em;
	margin-left: 3%;
}

.col1 { width: 30%; }
.col2 { width: 30%; }
.col3 { width: 30%; }

.footer
{
	clear: both;
	padding: 1em 1em;
	background-color: #ccc;
}
.content {
	padding: 10px 0;
}

.content ul, .content ol { 
	padding: 0 15px 15px 40px;  
}

@media (max-width: 22em) {
   body {
      font-size: .9em;
      padding: 0 1.5em;
    }
}
